In [ ]:
# ingle comprehension to make a list of the square 
# numbers below 100 that give a remainder of 1 when divided by 3.

In [1]:
a =[i**2 for i in range(1,101) if i % 3==1]

In [ ]:
# Use a single comprehension to 
# make a list of the first letter of each word in the snippet.

In [6]:
text = "I live my life a quarter mile at a time. \
Nothing else matters: not the mortgage, not the store, \
not my team and all their bullshit. \
For those ten seconds or less, I‚Äôm free."
first = []
for i in text:
    if i != ' ':
        first.append(i[0])
#print(first)

In [7]:
letter_1 =[i[0] for i in text if i[0] !=' ']
letter_1

['I',
 'l',
 'i',
 'v',
 'e',
 'm',
 'y',
 'l',
 'i',
 'f',
 'e',
 'a',
 'q',
 'u',
 'a',
 'r',
 't',
 'e',
 'r',
 'm',
 'i',
 'l',
 'e',
 'a',
 't',
 'a',
 't',
 'i',
 'm',
 'e',
 '.',
 'N',
 'o',
 't',
 'h',
 'i',
 'n',
 'g',
 'e',
 'l',
 's',
 'e',
 'm',
 'a',
 't',
 't',
 'e',
 'r',
 's',
 ':',
 'n',
 'o',
 't',
 't',
 'h',
 'e',
 'm',
 'o',
 'r',
 't',
 'g',
 'a',
 'g',
 'e',
 ',',
 'n',
 'o',
 't',
 't',
 'h',
 'e',
 's',
 't',
 'o',
 'r',
 'e',
 ',',
 'n',
 'o',
 't',
 'm',
 'y',
 't',
 'e',
 'a',
 'm',
 'a',
 'n',
 'd',
 'a',
 'l',
 'l',
 't',
 'h',
 'e',
 'i',
 'r',
 'b',
 'u',
 'l',
 'l',
 's',
 'h',
 'i',
 't',
 '.',
 'F',
 'o',
 'r',
 't',
 'h',
 'o',
 's',
 'e',
 't',
 'e',
 'n',
 's',
 'e',
 'c',
 'o',
 'n',
 'd',
 's',
 'o',
 'r',
 'l',
 'e',
 's',
 's',
 ',',
 'I',
 '‚Äô',
 'm',
 'f',
 'r',
 'e',
 'e',
 '.']

In [ ]:
# A Pythagorean triple is a set (x,y,z), 
# with positive integers x ‚â§ y ‚â§ z such that  ùë•2+ùë¶2=ùëß2 . 
# Use a single comprehension to 
# make a list of all Pythagorean triples such that all 3 numbers are below 25.

In [14]:
#r=[]
for x in range(1,26):
    for y in range(1,26):
        for z in range(1,26):
            if x<=y<=z and (x**2) + (y**2) == (z**2):
                print(x,y,z)
                #r.append(tuple(x,y,z))
        
#how do I get these in a list?

3 4 5
5 12 13
6 8 10
7 24 25
8 15 17
9 12 15
12 16 20
15 20 25

In [8]:
m={(x,y,z)for x in range(1,26) for y in range(1,26) for z in range(1,26) if x<=y<=z and x**2+y**2=z**2}
m

SyntaxError: invalid syntax (<ipython-input-8-4d12d3e78102>, line 1)